@media screen and (max-width: 600px) {
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
     
    }

  }


  @media screen and (max-width: 600px) {
    header  ul {
        flex-direction: column ;
        
        width: 100vw;
       height: 100%;      
    }
  }

  @media screen and (min-width: 600px){
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
        
  }  
  }
  @media screen and (min-width: 600px){
    header ul{
        flex-direction: column-reverse ;
        width: 100vw;
       height: 100%; 
    }
  }  
  @media screen and (min-width: 768px){
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
        
  }  
  }
  @media screen and (min-width: 768px){
    header ul{
        flex-direction: row ;
        width: 100vw;
       height: 100%; 
    }
  }


@media screen and (max-width: 600px) {
    main .text{
     margin-top:200px;
     padding:30px;
     font-size: 15px;

    }
  } 


@media screen and (min-width: 600px){
main .text{
    margin-top:200px;
    padding:30px;

   }
 } 
@media screen and (min-width: 768px){
main .text{
    margin-top:90px;
    padding:30px;

   }
 } 
@media screen and (min-width: 992px){
main .text{
    margin-top:70px;
    padding:30px;

       }
     } 

@media screen and (max-width: 600px){
      .item{
      flex:100%;
      }
  }
  
@media screen and (min-width: 600px){
      .item{
      flex:50%;
      }
  }
  
@media screen and (min-width: 992px){
      .item{
      flex:25%;
  
      }
  }

@media screen and (max-width: 600px) {
    main .videoevento{
        flex-direction: column;
        margin-bottom: 70px;
        margin-top: 0px;
       
    }
  } 


@media screen and (max-width: 600px) {
    .zoom iframe{
        width: 100%;
     
    }
  } 
 
  
@media screen and (min-width: 600px){
  .zoom iframe{
    width: 100%;

  }
}
@media screen and (min-width: 768px){
  .zoom iframe{
    width: 100%;

  }
}
@media screen and (min-width: 992px){
  .zoom iframe{
    width: 100%;

  }
}

@media screen and (max-width: 600px) {
  .container li ul li a{
    font-size: 12px;
    
  }

}
@media screen and (max-width: 600px) {
  .container li ul li {
    margin-top:5px;
    color:white;
    width: 50%;
    
  
  }

}
@media screen and (max-width: 600px) {
.container li:hover > ul {
  display:inline;
  position:fixed;

}
}


@media screen and (min-width: 600px) {
  .container li:hover > ul {
    display:inline;
    position:fixed;
  
  }
  }
@media screen and (min-width: 600px) {
      .container li ul li {
        margin-top:5px;
        color:white;
        width: 50%;
        align-items: left;
            
      }
 
    }
@media screen and (min-width: 600px) {
      .container li ul li a{
        font-size: 15px;
        
      }
  }

@media screen and (min-width: 768px) {
      .container li:hover > ul {
        display:block;
        position:fixed;
      
      }
      }
  
@media screen and (min-width: 768px) {
        .container li ul li {
          
          margin-top:10px;
          color:white;
          width: 25%;
          
          padding: 0px;  
        }
      }

     
